.post {
  .blog_serie {
    margin: 15px;
    padding: 5px 10px;
    background-color: #f7f7f7;
    .blog_serie_title {
      font-size: 1.6rem;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    ul {
      margin: 0 !important;
      padding: 0;
    }
    li {
      list-style-type: none;
      a {
        text-decoration: none;
      }
    }
  }
}


code.code {
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  background-color: bisque;
}

// figure.highlight pre {
//   /* ... */
//   code {
//       /* ... */
//       /* Use a counter to generate the line numbers */
//       counter-reset: code;
//       .div {
//           /* Increment the counter for each div */
//           counter-increment: code;
//           &:before {
//               content: counter(code);
//               /* Hacky, but necessary. Without these lines, single-digit line 
//               /* numbers will not line up with double-digit ones. Change width
//               /* to suit your font. */
//               width: 16px;
//               text-align: right;
//               /* Add a nice border */
//               display: inline-block;
//               padding-right: 0.25em;
//               border-right: 1px solid gray;
//           }
//       }
//   }
// }

// .div {
//   /* ... */
 
//   &:before {
//       /* ... */
//       /* For older browsers and Safari */
//       -webkit-touch-callout: none;
//       -webkit-user-select: none;
//       -khtml-user-select: none;
//       -moz-user-select: none;
//       -ms-user-select: none;
//       user-select: none;
//   }
// }

code {
  /* ... */
 
  &:before {
      content: attr(data-lang);
     
      /* Do styling and positioning */
  }
}

/* Block code, highlight */
figure.highlight {
  position: relative;
  pre {
      /* ... */
      code {
          /* ... */
         
          /* Display language name */
          &[data-lang]:before {
              /* ... */
              z-index: 5000;
              position: absolute;
              right: 10px;
              font-size: 11px;
              top: 10px;
              padding-left: 7.5px;
              padding-right: 7.5px;
              border: 1px solid #828282;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              min-width: 40px;
              text-align: center;
              color: #8fbc8f;
              background-color: #1a1a1a;
          }
      }
  }
}